In [9]:
import pandas as pd

In [315]:
#Check datatypes
train_data=pd.read_csv('./train.csv')
test_data=pd.read_csv('./test.csv')
submission_data=pd.read_csv('./submission.csv')
test_data.Date.max()

'2020-04-23'

In [275]:
test_data.head()

   ForecastId Province/State Country/Region   Lat  Long        Date
0           1            NaN    Afghanistan  33.0  65.0  2020-03-12
1           2            NaN    Afghanistan  33.0  65.0  2020-03-13
2           3            NaN    Afghanistan  33.0  65.0  2020-03-14
3           4            NaN    Afghanistan  33.0  65.0  2020-03-15
4           5            NaN    Afghanistan  33.0  65.0  2020-03-16

In [328]:
train_data=train_data.rename(columns={"Province/State": "State", "Country/Region": "Country"})
test_data=test_data.rename(columns={"Province/State": "State", "Country/Region": "Country","ForecastId":"Id"})

In [329]:
train_data['DateTimeStamp'] = pd.to_datetime(train_data['Date'])
test_data['DateTimeStamp']=pd.to_datetime(test_data['Date'])

In [330]:
train_data_processed=train_data.iloc[:,[0,2,6,7]]
test_data_processed=test_data.iloc[:,[0,2]]

#Data processing

In [279]:
train_data_processed.head()

   Id      Country  ConfirmedCases  Fatalities
0   1  Afghanistan             0.0         0.0
1   2  Afghanistan             0.0         0.0
2   3  Afghanistan             0.0         0.0
3   4  Afghanistan             0.0         0.0
4   5  Afghanistan             0.0         0.0

In [327]:
train_data_processed.head()

   Id Country/Region  ConfirmedCases  Fatalities
0   1    Afghanistan             0.0         0.0
1   2    Afghanistan             0.0         0.0
2   3    Afghanistan             0.0         0.0
3   4    Afghanistan             0.0         0.0
4   5    Afghanistan             0.0         0.0

In [331]:
#Below block is for train set
from category_encoders import *
from sklearn import preprocessing
import pandas as pd
#le = preprocessing.LabelEncoder()
y = train_data_processed.Fatalities
enc = LeaveOneOutEncoder(cols=["Country"]).fit(train_data_processed, y)
numeric_dataset_train = enc.transform(train_data_processed)
#train_data_processed["Country"]=train_data_processed.iloc[:,[1]].apply(le.fit_transform)
#train_data_processed

In [332]:
len(numeric_dataset_val.Country.unique())

56

In [333]:
test_data_processed["Fatalities"]=0
y = test_data_processed.Fatalities
enc = LeaveOneOutEncoder(test_data_processed.iloc[:,[1]]).fit(test_data_processed, y)
numeric_dataset_test = enc.transform(test_data_processed)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [335]:
test_data_processed.shape

(12212, 3)

In [336]:
from sklearn import linear_model
from sklearn.linear_model import Lasso
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [337]:
predictors=["Id","Country"]
target_column=["Fatalities"]

In [338]:
test_data_processed.columns

Index(['Id', 'Country', 'Fatalities'], dtype='object')

In [339]:
numeric_dataset_test.head()

   Id  Country  Fatalities
0   1      0.0           0
1   2      0.0           0
2   3      0.0           0
3   4      0.0           0
4   5      0.0           0

In [216]:
#X_train = train_data_processed[predictors].values
#y_train = train_data_processed[target_column].values
#X_test = test_data_processed[predictors].values
#y_test = test_data_processed[target_column].values

In [340]:
#X_train = numeric_dataset_train[predictors].values
#y_train = numeric_dataset_train[target_column].values
#X_test = numeric_dataset_test[predictors].values
#y_test = numeric_dataset_test[target_column].values
X_train, X_test, y_train, y_test = train_test_split(numeric_dataset_train[predictors].values, numeric_dataset_train[target_column].values, test_size=0.30, random_state=40)

In [341]:
model_lasso = Lasso(alpha=0.01)
model_lasso.fit(X_train, y_train) 
pred_train_lasso= model_lasso.predict(X_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_lasso)))
print(r2_score(y_train, pred_train_lasso))

151.00984073836952
0.0459076933308582

In [342]:
print(model_lasso.intercept_)

[5.3496313]

In [303]:
test_data_processed["Fatalities"]=0
y = test_data_processed.Fatalities
enc = LeaveOneOutEncoder(cols=["Country"]).fit(test_data_processed, y)
numeric_dataset_test = enc.transform(test_data_processed)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [345]:
numeric_dataset_test.Country.min()

0.0

In [347]:
pred_test_lasso= model_lasso.predict(numeric_dataset_test[predictors].values)
print(np.sqrt(mean_squared_error(numeric_dataset_test[target_column].values,pred_test_lasso))) 
print(r2_score(numeric_dataset_test[target_column].values, pred_test_lasso))

3.9445943359974946
0.0

In [297]:
X_test = numeric_dataset_test[predictors].values

In [296]:
len(pred_test_lasso)

5198